:root{
    --primary: #ABC4E7;
    --secondary: #e9e6e5;
    --tertiary: #FFF;
    --text: #000;
    --textA: darkblue;
    --boxshadow: rgba(0,0,0,0.3);
}

:root.dark {
    --primary: rgb(3, 3, 51);   
    --secondary: #121212; 
    --tertiary: #312f2f; 
    --text: #f0f0f0;
    --textA: lightblue;
    --boxshadow: rgba(255, 255, 255, 0.15);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--secondary);
}

/* Header */

header{
    background-color: var(--primary);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>img{
    width: 2.5rem;
    height: 2.5rem;
    color: var(--text);
}

header>h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text);
}

header>button{
    width: 3rem;
    height: 1.4rem;
    background-color: var(--secondary);
    border: solid 1px var(--primary);
}


.dark {
  background: #121212;
  color: var(--tertiary);
}

/* Body */

.container-top{
    background-color: var(--primary);
    padding-bottom: 8rem;
}

h2.presentation{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    padding: 2rem 1rem 0;
    max-width: 1100px;
    color: var(--text);
}

/* Section */

.best{
    text-align: center;
    font-weight: 700;
    font-size: larger;
    color: var(--text);
    margin-bottom: -12px;
}

section{
    margin: -5rem auto 5rem auto;
    background-color: var(--tertiary);
    padding: 1rem 0 1rem;
    border-radius: 16px;
    width: 85%;
    max-width: 1500px;
    align-self: center;
    box-shadow: 0 4px 4px var(--boxshadow);
}

.articles{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 1rem;
    justify-content: center;
    color: var(--text);
}

.article img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 8px;
}

.article{
    flex: 0 0 250px;
    background-color: var(--secondary);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article:hover{
    transform: scale(1.06);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.article p {
    font-size: larger;
    margin-top: 0.5rem;
    color: var(--text);
}


/* Articles a la une / carousel */

.A-alaune {
  overflow: hidden;
  position: relative;
  margin: auto;
  background: var(--tertiary);
  border-radius: 10px;
  padding: 1rem 0;
}


.A-alaune button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.A-alaune button:hover {
  background: rgba(0,0,0,0.8);
  transform: translateY(-50%) scale(1.1);
}


.precedent{
    left: 1rem;
}
.suivant{
    right: 1rem;
}

/* main */

.inscrir{
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    margin: 3rem auto;
    padding: 2rem 1rem 0;
    color: var(--text);
}

.lorem{
    text-align: center;
    margin: 0 auto 2rem;
    max-width: 1300px;
    color: var(--text);
}

/* Page Inscription */

.explication{
    text-align: center;
    color: var(--text);
    margin-top: 2rem;
}

.main-formulaire{
    display: flex;
    padding: 3rem 2rem;
}

.inscription, .connexion{
    background-color: var(--tertiary);
    width: 40%;
    margin: 0 5%;
    border-radius: 2rem;
    box-shadow: 0 2px 4px 4px var(--boxshadow);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.inscriptionElement, .connexionElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.inscriptionElement input,
.connexionElement input {
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.6rem;
    border-radius: 12px;
    font-size: 1rem;
    font-family: inherit;
    box-sizing: border-box;
}

.inscriptionElement input:focus, .connexionElement input:focus{
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 5px var(--textA);
}

.titre-inscription, .titre-connexion{
    color: var(--text);
    text-align: center;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.inscriptionElement label, .connexionElement label{
    color: var(--text);
    display: flex;
    justify-content: center;
    padding-bottom: 0.8rem; 
}

label a{
    text-decoration: none;
    color: var(--textA);
    margin-left: 0.25rem;
}


.condition{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto 1rem auto
}

.condition input{
    width: 1rem;
    margin-right: 0.8rem;
}

.condition label{
    font-size: 15px;
}

.submit{
    margin-top: auto;
    width: 80%;
    background-color: var(--primary);
    color: var(--text);
    cursor: pointer;
    transition: 0.2s ease;
}

.submit:hover {
    background-color: var(--text);
    color: var(--secondary);
}

.error-msg{
    color: red;
    font-size: 1.2rem;
}

/*footer */

footer{
    background-color: var(--primary);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.titre{
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: var(--text);
    transition: color 0.2s ease, transform 0.2s ease;
}

footer a:hover {
    color: darkblue;
    transform: scale(1.10);
}

footer p{
    color: var(--text);
}


